<aside class="sidenav offcanvas offcanvas-start" tabindex="-1" id="offCanvasTasks">
  <nav>
    <ul>
      <li type="button" routerLink="/tasks" routerLinkActive="active">
        <i class="bi bi-file-earmark-text-fill"></i>
        <span>Tasks</span>
      </li>
      <li type="button" routerLink="/persons" routerLinkActive="active">
        <i class="bi bi-file-person-fill"></i>
        <span>Persons</span>
      </li>
      <li type="button" routerLink="/skills" routerLinkActive="active">
        <i class="bi bi-graph-up"></i>
        <span>Skills</span>
      </li>
    </ul>
  </nav>
</aside>
